@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - FlixList</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Theme/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Theme/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/Theme/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Theme/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Theme/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~Theme/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="search-panel">
                <div class="search-inner d-flex align-items-center justify-content-center">
                    <div class="close-btn">Close <i class="fa fa-close"></i></div>
                    <form id="searchForm" action="#">
                        <div class="form-group">
                            <input type="search" name="search" placeholder="What are you searching for...">
                            <button type="submit" class="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <div class="brand-big visible text-uppercase">
                        <h2 id="siteBrand"><strong class="text-primary">@Html.ActionLink("FlixList", "Index", "Home")</strong></h2>
                    </div>
                </div>
                <div class="right-menu list-inline no-margin-bottom">
                    <div class="list-inline-item"><a href="#" class="search-open nav-link"><i class="icon-magnifying-glass-browser"></i></a></div>
                    <!-- Log out               -->
                    <div class="list-inline-item logout">@Html.Partial("_LoginPartial")</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar" class="shrinked">
            <!-- Sidebar Header-->
            @*@if (User.Identity.IsAuthenticated)
                {
                    <div class="sidebar-header d-flex align-items-center">
                        <div class="avatar"><img src="~/Theme/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title">
                            <h1 class="h5">@User.Identity.GetUserName()</h1>
                        </div>
                    </div>
                }*@
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li id="Movies">
                    <a href="@Url.Action("Movies", "Home")"><i class="icon-home"></i>Movies</a>
                </li>
                <li id="MyLibrary">
                    <a href="@Url.Action("MyLibrary", "Library")"><i class="icon-grid"></i>My Library</a>
                </li>
                <li id="Contact">
                    <a href="@Url.Action("Contact", "Home")"><i class="fa fa-bar-chart"></i>Contact</a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content active">
            <div class="wrapper">
                @RenderBody()
            </div>

        </div>
    </div>
    <!-- JavaScript files-->

    <script src="~/Theme/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Theme/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Theme/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Theme/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Theme/js/charts-home.js"></script>
    <script src="~/Theme/js/front.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>