@model MovieDatabase.Models.Movie
    @{ 
        ViewBag.title = Model.title;
    }

<section class="no-padding-top margin-top-sm">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="poster" style="background-image: url('@Model.posterURL');" alt="@Model.title"> </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row justify-content-center margin-top-sm">
                    <div class="col-12">
                        <ul class="list-unstyled">
                            <li><h2>@Model.title</h2></li>
                            <li>Release Year: @Model.yearReleased</li>
                            <li>Rating: @Model.rating</li>
                        </ul>
                        <button class="btn btn-primary" value="@ViewBag.ButtonText">@ViewBag.ButtonText</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

