@model MovieDatabase.Models.UserMovie

@{
    ViewBag.Title = "EditMovie";
}

@using (Html.BeginForm())
{
    <div class="container mb-3">
        <hr />
        <h2>@Model.movie.title</h2>
        <hr />
        @Html.HiddenFor(model => model.movie.movieID)

        @Html.HiddenFor(model => model.movie.title)
        
        @Html.HiddenFor(model => model.movie.yearReleased)

        @Html.HiddenFor(model => model.movie.rating)

        @Html.HiddenFor(model => model.movie.description)

        @Html.HiddenFor(model => model.movie.posterURL)

        @Html.HiddenFor(model => model.movie.imdbURL)

        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8">
                <div class="container">
                    <div class="row">

                        @for (int i = 0; i < Model.locations.Count(); i++)
                        {
                        <div class="col-xs-4 col-sm-3 col-md-4 ">
                            <label class="image-checkbox">
                                <img src="@Model.locations[i].logoURL" alt="@Model.locations[i].description" class="img-fluid" />
                                @Html.CheckBoxFor(model => Model.locations[i].selected)
                                @Html.HiddenFor(model => Model.locations[i].locationID)
                                @Html.HiddenFor(model => Model.locations[i].description)
                                @Html.HiddenFor(model => Model.locations[i].logoURL)

                            </label>
                        </div>
                        }

                    </div>
                    <div class="row justify-content-md-center mb-5 mt-5">
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    // image gallery
    // init the state from the input
    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox-checked');
        }
        else {
            $(this).removeClass('image-checkbox-checked');
        }
    });

    // sync the state to the input
    $(".image-checkbox").on("click", function (e) {
        $(this).toggleClass('image-checkbox-checked');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"))

        e.preventDefault();
    });
</script>

