@model MovieDatabase.Models.UserMovie

@{
    ViewBag.Title = "EditMovie";
}


<div class="container">
    <hr />
    <h2>@Model.movie.title</h2>
    <hr />
    <div class="row">
        <div class="col-md-4>">
            <img src="@Model.movie.posterURL" alt="@Model.movie.title" />
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
   
</div>                 @Html.DisplayNameFor(model => model.movie.yearReleased)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.movie.yearReleased)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.movie.rating)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.movie.rating)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.movie.description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.movie.description)
                </dd>
            </dl>
        </div>

    </div>
<div class="container">
    @using (Html.BeginForm())
    {
        foreach(var location in Model.locations)
        {
            <label class="col-xs-4 col-md-1 image-checkbox">
                <img src="@location.logoURL" alt="@location.description" class="movie-logo-grid img-responsive" />
                @Html.CheckBoxFor(model => location.selected)
                <center>@location.description</center>
            </label>
        }


        <input type="submit" class="btn btn-primary" />
    }
</div>

<script type="text/javascript">
    // image gallery
    // init the state from the input
    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox-checked');
        }
        else {
            $(this).removeClass('image-checkbox-checked');
        }
    });

    // sync the state to the input
    $(".image-checkbox").on("click", function (e) {
        $(this).toggleClass('image-checkbox-checked');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"))

        e.preventDefault();
    });
</script>

