@{
    ViewBag.Title = "My Library";
}
@model  KeyValuePair<string,List<MovieDatabase.Models.UserMovie>>


<section class="no-padding-top margin-top-sm margin-bottom-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">

            @foreach (var userMovie in Model.Value)
            {
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="block poster" onmouseover="showOverlay(this)" onmouseout="hideOverlay(this)" style="background-image: url('@userMovie.movie.posterURL');">
                    <a href="@Url.Action("MyMovieDetails", "Library", new { movieID = userMovie.movie.movieID })" class="overlay hidden">

                        <div class="movieTitle" id="@userMovie.movie.title">
                            <strong>@userMovie.movie.title</strong>
                        </div>
                    </a>
                </div>
            </div>
            }
            
        </div>
    </div>
</section>

<script>

    (function () {
        document.getElementById('MyLibrary').className = 'active';
    })();

    function showOverlay(event) {
            event.childNodes[1].className = "overlay";
        }

    function hideOverlay(event) {
            event.childNodes[1].className = "overlay hidden"
        }

</script>
